.joke-container {
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
}
.next-button {
    background-color: #2563eb;;
    height: 40px;
    min-width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
}
.joke {
    color:#dbeafe ;
    font-size: 20px;
}

@media screen and (min-width:768px){
    .joke {
        font-size: 25px;
    }
    .next-button {
        width: 100%;
    }
}

